ul{
    display: flex;
   gap: 35px;
  
   
}
li{
    list-style-type: none;
    position: relative;
}
nav{
    /* padding-top: 0%; */
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100vw;
    background-color: beige;
  }
